<h1>AwsInstances#index</h1>

<br />

<table id="aws_info" class="display" data-source="<%= aws_instances_index_url(format: "json") %>">
  <thead>
    <tr>
      <% @columns.each do |column| %>
        <th class="<%= column.second %>"><%= column.first %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |ec2_type| %>
      <tr>
        <% @columns.each do |column| %>
          <td><%= ec2_type.send(column.second) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<% @columns.each do |column| %>
  <a hfref="#" class="columnVisToggleButton" data-column="<%= column.second %>"><%= column.first %></a><br />
<% end %>


<script type="text/javascript">
$(document).ready(function() {
  $('#aws_info').dataTable({
    "bJQueryUI": true,
    "aoColumns": [
      <% @columns.each do |column| %>
        {"mData": "<%= column.second %>"},
      <% end %>
    ],
    "aoColumnDefs": [ 
      { // memory stored as bytes, display as gigabytes
      aTargets : [ "memory" ],
      "mDataProp": function(data, type, val){
        if (type === 'set') {
          // store the bytes
          data.memory_bytes = val;
          // store the value as gigabytes
          data.memory_gigabytes = (val / 1073741824).toPrecision(2);
        }
        else if (type === 'display') {
          return data.memory_gigabytes;
        }
        else if (type === 'filter') {
          // filtering happens only on gigabytes
          return data.memory_gigabytes;
        }
        return data.memory_bytes;
      }
    },
    { // storage stored as bytes, display as gigabytes
      aTargets : [ "total_ephemeral_storage" ],
      "mDataProp": function(data, type, val){
        if (type === 'set') {
          // store the bytes
          data.storage_bytes = val;
          // store the value as gigabytes
          data.storage_gigabytes = (val / 1073741824);
        }
        else if (type === 'display') {
          return data.storage_gigabytes;
        }
        else if (type === 'filter') {
          // filtering happens only on gigabytes
          return data.storage_gigabytes;
        }
        return data.storage_bytes;
      }
    },
    { // hide windows and spend breakdown columns
      aTargets : ["mswin_cost_per_hour", "mswin_cost_per_storage_GiB", "mswin_cost_per_ebs_optimization", "mswin_cost_per_ephemeral_drives",
           "mswin_cost_per_cores", "mswin_cost_per_compute_units", "mswin_cost_per_memory_GiB", "mswin_cost_per_max_ips",
           "linux_cost_per_memory_GiB", "linux_cost_per_cores", "linux_cost_per_storage_GiB", "linux_cost_per_ephemeral_drives",
           "linux_cost_per_compute_units", "linux_cost_per_ebs_optimization", "linux_cost_per_max_ips"],
      "bVisible": false
    }
    ]
  }
  )
  $('.columnVisToggleButton').click(function() {
      var col_names = $(this).data('column');
      var awsTable = $('#aws_info').dataTable();
      var column = $.grep(awsTable.fnSettings().aoColumns, function(aoColumn, i) { return aoColumn.mData === col_names; })[0];
      // not 100% sure on this next line. Can also try column.nTh.cellIndex
      var col_id = column.aDataSort[0];
      var col_vis = column.bVisible;

      awsTable.fnSetColumnVis( col_id , col_vis ? false : true );
    }
   );

});
</script>
