<h1>AWS EC2 Instance Costs: <%= @region.titleize %></h1>
<br />
<%= form_tag do %>
  <% regions_array = @regions.map{|r| [r.titleize, aws_instances_index_url(region: r)]} %>
  <%= select_tag(:region, options_for_select(regions_array, aws_instances_index_url(region: @region))) %>
<% end %>
<br />

<table id="aws_info" class="display" data-source="<%= aws_instances_index_url(format: "json") %>">
  <thead>
    <tr>
      <% @columns.each_with_index do |column, i| %>
        <th class="<%= column.second %> <%= column[3] %>" data-index="<%= i %>" data-default-visible="<%= column[2] %>" data-toggle-group="<%= column[3] %>"><%= column.first %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |ec2_type| %>
      <tr>
        <% @columns.each do |column| %>
          <td><%= ec2_type.send(column.second) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<% @columns.each do |column| %>
  <a hfref="#" class="columnVisToggleButton" data-column="<%= column.second %>"><%= column.first %></a><br />
<% end %>

<br />
<a href="#" class="groupColVisToggleButton" data-all-visible="false" data-toggle-group="linux">All Linux</a>

<br />
<a href="#" class="groupColVisToggleButton" data-all-visible="false" data-toggle-group="mswin">All Windows</a>


